[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Misc startup
Comment=
Exec=/home/joe/.config/autostart/autostart.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
